---
on:
  pull_request:
    paths:
      - "Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/build.yml"
      - "bins/**"
      - "crates/**"
name: Build
env:
  RUST_BACKTRACE: full
  CARGO_TERM_COLOR: always
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - run: cargo fmt --all -- --check
      - run: cargo clippy --all --all-features -- -D warnings
  build:
    name: Build
    needs: "lint"
    strategy:
      matrix:
        target: [ubuntu-24.04] #, ubuntu-22.04-arm]
    runs-on: ${{ matrix.target }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/bevy_deps
        if: ${{ matrix.target == 'ubuntu-24.04' }} # || ${{ matrix.target == 'ubuntu-22.04-arm' }}
      - run: cargo build --release
  test:
    name: Test
    needs: "build"
    strategy:
      matrix:
        target: [ubuntu-24.04] #, ubuntu-22.04-arm]
    runs-on: ${{ matrix.target }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/bevy_deps
        if: ${{ matrix.target == 'ubuntu-24.04' }} # || ${{ matrix.target == 'ubuntu-22.04-arm' }}
      - run: cargo test --release --all --all-features -- --nocapture
